<h1>For <%= @value %> in category <%= @category_title %>:</h1>
<p><%= @question %><p>

<%= form_tag(answers_path, method: "POST") do %>
  <input type="text" class="form-control" name="answer" placeholder="Input your answer">
  <input type="hidden" name="question_id" value=<%= params[:id] %>>
  <%= submit_tag("Submit Answer") %>
<% end %>

